{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h2>Available Products</h2>

{% if products %}
    {% for product in products %}
        <div class="card">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p><strong>Price:</strong> ₹{{ product.price }}</p>

            {% if product.image %}
                <img src="{{ product.image.url }}" width="200">
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No products available.</p>
{% endif %}
{% endblock %}